vfs-service/src/main/webapp/WEB-INF/wsdl/VfsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://service.vfs.emroy.org/" name="VfsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.vfs.emroy.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.vfs.emroy.org/" schemaLocation="VfsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createDirectory">
    <part name="parameters" element="tns:createDirectory"/>
  </message>
  <message name="createDirectoryResponse">
    <part name="parameters" element="tns:createDirectoryResponse"/>
  </message>
  <message name="deleteDirectory">
    <part name="parameters" element="tns:deleteDirectory"/>
  </message>
  <message name="deleteDirectoryResponse">
    <part name="parameters" element="tns:deleteDirectoryResponse"/>
  </message>
  <message name="createFile">
    <part name="parameters" element="tns:createFile"/>
  </message>
  <message name="createFileResponse">
    <part name="parameters" element="tns:createFileResponse"/>
  </message>
  <portType name="VfsService">
    <operation name="createDirectory">
      <input wsam:Action="http://service.vfs.emroy.org/VfsService/createDirectoryRequest" message="tns:createDirectory"/>
      <output wsam:Action="http://service.vfs.emroy.org/VfsService/createDirectoryResponse" message="tns:createDirectoryResponse"/>
    </operation>
    <operation name="deleteDirectory">
      <input wsam:Action="http://service.vfs.emroy.org/VfsService/deleteDirectoryRequest" message="tns:deleteDirectory"/>
      <output wsam:Action="http://service.vfs.emroy.org/VfsService/deleteDirectoryResponse" message="tns:deleteDirectoryResponse"/>
    </operation>
    <operation name="createFile">
      <input wsam:Action="http://service.vfs.emroy.org/VfsService/createFileRequest" message="tns:createFile"/>
      <output wsam:Action="http://service.vfs.emroy.org/VfsService/createFileResponse" message="tns:createFileResponse"/>
    </operation>
  </portType>
  <binding name="VfsServiceImplPortBinding" type="tns:VfsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createDirectory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteDirectory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VfsService">
    <port name="VfsServiceImplPort" binding="tns:VfsServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

